body {
  margin: 0%;
  font-family: 'Louis George Café', sans-serif;
}

.fondo {
    width: 100%;
    height: auto;
    margin: 7% 0 0 0;
  }

.container {
    display: grid;
    padding: 10px;
}


.button {
    border: none;
    background-color: white;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-family: 'Louis George Café', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .logo {
    width: 60px;

  }

#div-receta {
  text-align: center;
  padding: 3% 0% 0% 5%;
}

#imagenreceta {
  width: 90%;
}

.buttonpasabocas {
  background-color: #b2ca93; 
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Louis George Café', sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 10px;
}


.inicio {
    grid-template-columns: auto auto ;
    padding: 10px;
}

.logogrande {
  width: 30%;
  height: auto;
  padding: 0;
}

#texto {
  text-align: left;
  font-size: 105%;
  padding: 0% 15% 0 15%;
}

#cabecera {
  position: fixed;
  padding: 2% 5% 0%;
  background: white;
  top: 0;
  width: 100%;
  grid-template-columns: 55% auto auto auto auto auto;
}

#nosotros {
  text-align: center;
}


.titulo2 {
  font-size: 40px;
}

#dips {
  grid-template-columns: auto auto auto;
  gap: 5%; 
}


